doctype html
html
  head
    meta(charset="utf-8")
    title サンプル
    link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
  body
    div.container
      h1 サンプル
      p Node.js + Express で作るサンプル Webアプリケーション
