doctype html
html
  head
    meta(charset="utf-8")
    title リクエスト情報
  body
    h1 Node.js + Express の世界へようこそ
    p 本レクチャーではリクエスト情報の中身について解説します。
    form(method="post" action="/")
      div
        input(type="text" id="form_text" name="form_text")
        input(type="checkbox" id="form_checkbox" name="form_checkbox")
      div
        input(type="submit")
